@model  List<BiTech.Library.Models.MuonTraSachViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //ViewBag.ThongBao = true;
}
<link href="~/Content/AutoComplete.css" rel="stylesheet" />
<div class="Title">Trả sách</div>

<div ng-app="LibraryApp" class="container-mt">
    <div class="search-thanhvien">
        @if (ViewBag.ThongBao)
        {
            <div class="alert p-2 alert-danger alert-dismissible fade show">
                <button type="button" class="close p-1" data-dismiss="alert">&times;</button>
                <strong>Thông báo!</strong> @ViewBag.ThongBaoString
            </div>
        }

        @using (Html.BeginForm("Index", "TraSach", FormMethod.Get, new { role = "form", id= "TraSach" }))
        {
            <div class="input-group mb-3 p-1">
                <div class="form-control form-control-sm p-0" style="position:relative;">
                    <input class="form-control form-control-sm border-0"
                           id="list_maThanhVien" name="IdUser"
                           autocomplete="off" placeholder="Nhập mã học sinh hoặc giáo viên ..."
                           onkeydown="if (event.keyCode == 13) { search_user(); }" />
                </div>
                <div class="input-group-append">
                    <input type="submit" value="Tìm kiếm" class="btn btn-primary btn-sm" />
                </div>
            </div>
        }
    </div>

    @if (ViewBag.hasUser)
    {
        <div class="container-mt-sach clearfix " ng-controller="TraSachCtrlr" ng-init="GetListBook()">
            <div class="box-left clearfix p-1">

                <div class="container-box-window clearfix">
                    <div class="top">
                        <span class="">@ViewBag.user.MaSoThanhVien - @ViewBag.user.Ten</span>
                    </div>

                    <div class="content-box-window">
                        <div class="form-mt-sach" id="form_Sach">

                            <div class="form-group">
                                <label for="email">Mã sách:</label>
                                <div class="input-group mb-3">
                                    <div class="form-control form-control-sm p-0" style="position:relative;">
                                        <input class="form-control form-control-sm border-0" id="MaSach" ng-model="masach"
                                               autocomplete="off"
                                               onkeydown="if (event.keyCode == 13) {search_book()}"
                                               placeholder="Nhập mã sách ..." />
                                    </div>

                                    <div class="input-group-append">
                                        <input type="button" id="searchMaSachbtn" value="Thêm danh sách trả" ng-click="GetBook_loading()" class="btn btn-primary btn-sm" />
                                    </div>
                                </div>
                                <div class="progress mt-1 mb-1 hidden_lib" style="height: 10px;" ng-class="{hidden_lib: loading_bar==false}">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                </div>
                                <div class="hidden_lib" id="box_ThongBao" ng-class="{hidden_lib: show_thongbao==false}">
                                    <div ng-if="!show_thongbao_CoSach" class="alert mt-1 mb-1 p-2 alert-danger alert-dismissible fade show">
                                        <strong>Thông báo!</strong> {{NoiDungThongBao}}
                                    </div>
                                </div>
                            </div>
                            @*<div class="form-group mb-0">
                                    <label for="pwd">Số lượng:</label>
                                    <input type="number" id="SoLuongSach" ng-model="SoluongSachMuon" ng-blur="loadfocus_input_soluongsachmuon()" class="form-control form-control-sm" min="0" max="{{SoLuong}}" required oninput="this.value=this.value.replace(/[^0-9]/g,'');" ng-disabled="disabled_input">
                                </div>*@
                            <div class="form-group" style="display: none;">
                                <label for="pwd">Ngày trả:</label>
                                <input type="text" class="form-control form-control-sm " ng-model="ngaytra" id="ngayPhaiTra">
                            </div>
                            <div class="form-group">
                                <select class="form-control form-control-sm" ng-init="item.carType='none'" ng-model="modelTT">
                                    <option ng-repeat="y in list_book_TinhTrang" value="{{y.Id}}">{{y.TenTT}}</option>
                                </select>
                            </div>
                            <div class="form-group clearfix">
                                @*<button type="button" ng-click="ThemSach()" class="btn btn-primary btn-sm float-right">Thêm Sách</button>*@
                                @*<button type="button" onclick="reset_book()" ng-click="ResetBook()" class="btn btn-default btn-sm">Làm mới</button>*@
                            </div>

                        </div>
                        <div class="danhsach-mt-sach-new">
                            <div class="form-group">
                                <div class="danhsach-mt-sach-old ">
                                    <table class="table table-hover table-bordered mb-0" border="1">
                                        <thead>
                                            <tr class="table-info text-center">
                                                <th width="50">STT</th>
                                                <th>Mã kiểm soát</th>
                                                <th>Tên sách</th>
                                                <th>Số lượng</th>
                                                <th>Ngày mượn</th>
                                                <th>Ngày trả</th>
                                                <th>Trạng thái sách</th>
                                                <th width="100" style="text-align: center;">
                                                    <i class="fa fa-trash-o" title="Xoá tất cả" ng-click="ResetListBookQueue()" style="font-size:20px; cursor:pointer;"></i>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr class="text-center" ng-repeat="x in list_book_queue | orderBy : '-NgayMuon'" my-repeat-directive>
                                                <td>{{$index + 1}}</td>
                                                <td>{{ x.MaKiemSoat }}</td>
                                                <td>{{ x.TenSach }}</td>
                                                <td width="100px">
                                                    <input type="number" ng-value="{{x.SoLuong}}" id="List_{{x.Id}}"
                                                           class="form-control form-control-sm"
                                                           ng-blur="loadfocus_input_soluongsachmuon($index, x.SoLuong)"
                                                           min="0"
                                                           max="{{x.SoLuongMax}}"
                                                           required oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                                                </td>
                                                <td>
                                                    {{ x.NgayMuon }}
                                                </td>
                                                <td>
                                                    {{ x.NgayTra }}
                                                </td>
                                                <td>
                                                    {{ x.TinhTrangSachTen }}
                                                </td>
                                                <td align="center">
                                                    <i class="fa fa-remove text-danger" ng-click="removeItem($index)" style="font-size:20px; cursor:pointer;"></i>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group m-0 clearfix">
                                <button type="button" ng-click="TraSach()" class="btn btn-primary btn-sm float-right mr-1">Trả sách</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="box-right clearfix p-1 mt-3">
                <div class="container-box-window clearfix">
                    <div class="top">
                        <span class="">Danh sách đang mượn</span>
                    </div>

                    <div class="content-box-window">
                        <div class="danhsach-mt-sach-old ">
                            <table class="table table-hover table-bordered mb-0" border="1">
                                <thead>
                                    <tr class="table-info text-center">
                                        <th width="50" align="right">STT</th>
                                        <th>Mã kiểm soát</th>
                                        <th>Tên sách</th>
                                        <th>Số lượng</th>
                                        <th>Ngày mượn</th>
                                        <th>Ngày trả</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*<tr ng-repeat="x in list_book_dangmuon | orderBy : '-NgayMuon'" ng-class="x.TinhTrang?'table-danger':''" ng-click="GetBook_2(x.MaKiemSoat, x.NgayMuon, x.NgayTra)">*@
                                    <tr class="text-center" ng-repeat="x in list_book_dangmuon | orderBy : '-NgayMuon'" ng-class="x.TinhTrang?'table-danger':''" ng-click="GetBook_2(x.MaKiemSoat, x.NgayMuon,x.NgayTra)">
                                        <td align="center">{{$index + 1}}</td>
                                        <td>{{ x.MaKiemSoat }}</td>
                                        <td>{{ x.TenSach }}</td>
                                        <td>{{ x.SoLuong }}</td>
                                        <td>{{ x.NgayMuon | date  }}</td>
                                        <td>{{ x.NgayTra | date  }}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/LibraryAngularJS.js"></script>

    <script>

        $(function () {
            load_datepicker("ngayPhaiTra");
            AutoComplete(document.getElementById("list_maThanhVien"), [@Html.Raw("'" + string.Join("', '", (List<string>)ViewBag.list_maThanhVien) + "'")]);
            AutoComplete(document.getElementById("MaSach"), [@Html.Raw("'" + string.Join("', '", (List<string>)ViewBag.list_maSach) + "'")]);
        });

        function reset_book(){
            //load_datepicker();
        }

        function search_book(){
            setTimeout(function () {
                $("#searchMaSachbtn").click();
            }, 10);
        }

        function search_user(){
            setTimeout(function () {
                $("#TraSach").submit();
            }, 10);
        }

        function load_datepicker(name_id){
            $("#"+name_id).datepicker({
                //showWeek: true,
                dateFormat: "dd/mm/yy",
                monthNames: ['Tháng 1', 'Tháng 2','Tháng 3','Tháng 4','Tháng 5','Tháng 6','Tháng 7','Tháng 8','Tháng 9','Tháng 10',,'Tháng 11','Tháng 12',],
                //monthNamesShort: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"],
                //changeMonth: true,
                //changeYear: true,
                //gotoCurrent: true,
                dayNamesMin: ["CN", "T2", "T3", "T4", "T5", "T6", "T7"],
                minDate: 0,
                maxDate: @Html.Raw(ViewBag.MaxDate),
            }).datepicker("setDate", new Date() + 1).attr("readonly", "readonly");
        }

        // AutoCompelete Search
        function AutoComplete(inp, arr) {
            var currentFocus;
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "AutoComplete-list");
                a.setAttribute("class", "AutoComplete-items");
                this.parentNode.appendChild(a);
                for (i = 0; i < arr.length; i++) {
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        b = document.createElement("DIV");
                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(val.length);
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        b.addEventListener("click", function (e) {
                            inp.value = this.getElementsByTagName("input")[0].value;
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "AutoComplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    currentFocus++;
                    addActive(x);
                } else if (e.keyCode == 38) {
                    currentFocus--;
                    addActive(x);
                } else if (e.keyCode == 13) {
                    e.preventDefault();
                    if (currentFocus > -1) {
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                if (!x) return false;
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                x[currentFocus].classList.add("AutoComplete-active");
            }
            function removeActive(x) {
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("AutoComplete-active");
                }
            }
            function closeAllLists(elmnt) {
                var x = document.getElementsByClassName("AutoComplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

    </script>
}