
@{
    ViewBag.Title = "Index";
}

<a class="btn btntag-primary" href="@Url.Action("UpdateVersion", "UpdateDBVersion")">Update database version</a>
<div class="text-success h4">@ViewBag.Successs</div>
<div class="text-danger h4">@ViewBag.UnSuccesss</div>