@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="Title">Xuất báo cáo</div>

<div class="row">
    <div class="col-lg-6">
        <div class="export_content">
            <div class="title">Số lượng sách được mượn:</div>
            <div>
                <form action="/Exportreport/ExportTTSach" method="get" role="form">
                    <button style="margin-left: 20px;" type="submit" class="btn btn-primary">Tải excel</button>
                    <div style="float:left">
                        <select class="form-control" name="year">
                            <option value="">---chọn năm---</option>
                            @for (int i = Int32.Parse(ViewBag.tt); i <= DateTime.Now.Year; i++)
                            {
                                if (DateTime.Now.Year == i)
                                {
                                    <option value="@i" selected hidden>Năm @i</option>
                                }
                                <option value="@i">Năm @i</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="export_content">

            <div class="title">Số lượng trạng thái sách:</div>
            <div>
                <a href="/Exportreport/ExportSLSachTT" class="btn btn-info">Tải excel</a>
            </div>
        </div>
    </div>
</div>

