@model BiTech.Library.Models.TheLoaiSachViewModels
@{
    ViewBag.Title = "ImportFromExcel";
}

<div class="Title">Thêm thể loại sách từ File Excel</div>
@using (Html.BeginForm("ImportFromExcel", "TheLoaiSach", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <div class="form-group row">
        <div class="col-md-12">
            <a class="btn btn-primary btn-sm " href="@Url.Action("Index", "TheLoaiSach")">
                <i class="fa fa-arrow-circle-left" style="padding-right: 4px;font-size: 17px;"></i>Trở lại
            </a>
        </div>
    </div>

    @Html.AntiForgeryToken()
    <div class="form-group row">
        <div class="col-md-12">
            <div class="custom-file">
                @Html.TextBoxFor(m => m.LinkExcel, new { @Class = "custom-file-input", type = "file", accept = ".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" })
                <label class="custom-file-label" for="LinkExcel">Chọn file</label>
                @Html.ValidationMessageFor(m => m.LinkExcel)
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <input type="submit" class="btn btn-primary btn-sm" value="Chọn" />
        </div>
    </div>
}

@section scripts{
    <script>
        function ReadUrl(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#SaveFile').attr('src', e.target.result);
                    reader.readAsDataURL(input.files[0]);
                }
            }
        }
        $("#LinkExcel").change(function () {
            ReadUrl(this);
        });
    </script>
}




