@using Microsoft.AspNet.Identity
@{
    Layout = null;
}
<div class="top">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()


            <ul class="nav menutop">
                @*<li class="nav-item">
                        <form class="form-inline my-2 my-lg-0 mr-lg-2">
                            <div class="input-group box-search">
                                <input class="form-control" type="text" placeholder="Search for...">
                                <span class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </li>*@
                <li class="nav-item">
                    <div class="dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            
                            @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                            <a href="@Url.Action("Index", "Manage", new { title = "Manage" })">
                                <i class="fa fa-fw fa-sign-out"></i>
                                Hello @ViewBag.SSOFullName "!"
                            </a>
                        </div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        <div class="">

                            <i class="fa fa-fw fa-sign-out"></i>Logout

                        </div>
                    </a>
                </li>
            </ul>
        }
    }
</div>