@{ var active = @ViewContext.RouteData.Values["controller"].ToString(); /*Response.Write(active);*/}
<div class="left ">
    <div class="bg">

    </div>
    <div class="bg_icon">

    </div>
    <div class="menu">
        <ul>
            <li class="clearfix @((@active == "Sach") ? "action" : "") ">
                <a href="/Sach" title="Sách">
                    <div class="icon">
                        <i style="font-size:24px" class="fa">&#xf02d;</i>
                    </div>
                    <div class="name">
                        Sách
                    </div>
                </a>
            </li>
            <li class="clearfix @((@active == "TheLoaiSach") ? "action" : "")">
                <a href="/TheLoaiSach" title="Thể loại sách">
                    <div class="icon">
                        <i style="font-size:24px" class="fa">&#xf2ba;</i>
                    </div>
                    <div class="name">
                        Thể loại sách
                    </div>
                </a>
            </li>
            <li class="clearfix">
                <a href="#">
                    <div class="icon">
                        <i class="fa fa-file"></i>
                    </div>
                    <div class="name">
                        Danh muc 3 khoa hoc suc khoe 3
                    </div>
                </a>
            </li>
            <li class="clearfix">
                <a href="#">
                    <div class="icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="name">
                        Danh muc 4
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

