<div class="left ">
    <div class="bg">

    </div>
    <div class="bg_icon">

    </div>
    <div class="menu">
        <ul>
            <li class="clearfix ">
                <a href="#">
                    <div class="icon">
                        <i class="fa fa-cloud"></i>
                    </div>
                    <div class="name">
                        Danh muc 1
                    </div>
                </a>
            </li>
            <li class="clearfix ">
                <a href="#">
                    <div class="icon">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="name">
                        Danh muc 2
                    </div>
                </a>
            </li>
            <li class="clearfix action">
                <a href="#">
                    <div class="icon">
                        <i class="fa fa-file"></i>
                    </div>
                    <div class="name">
                        Danh muc 3 khoa hoc suc khoe 3
                    </div>
                </a>
            </li>
            <li class="clearfix">
                <a href="#">
                    <div class="icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="name">
                        Danh muc 4
                    </div>
                </a>
            </li>
            <li class="clearfix">
                <a href="@Url.Action("Index","TacGia")">
                    <div class="icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="name">
                       Quản Lý Tác Giả
                    </div>
                </a>
            </li>
            <li class="clearfix">
                <a href="@Url.Action("TaoPhieuNhapSach","PhieuNhapSach")">
                    <div class="icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="name">
                        Quản Lý Nhập Sách
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

