*/*CSS hình chân dung thành viên*/
.avatar_detail {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 6px solid #728C92;
    object-fit: cover;
    margin: 0 25px 10px 25px;
}
/*CSS thông tin chi tiết thành viên*/
.Title_info{
    font-size: 20px;
    font-weight: bold;
}
.Detail_info{
    font-size: 20px;    
    padding-left: 10px;
}
/*.btn-outline-primary{
    /*color: #fff;
    background-color: #728D94;
    border-color: #728D94;

    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color:  #728D94;
    border-width:2px;
}
.btn-outline-primary:hover{
    color: #fff;
    background-color: #728D94;
    border-color: #728D94;
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(114,140,146,.5);
    }

    .btn-outline-primary.focus {
        box-shadow: 0 0 0 0.2rem rgba(114,140,146,.5);
    }

    .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
        color: #fff;
        background-color: #5f6769;
        border-color: #5f6769;
    }
.color-white{   
    color:#728D94;
}*/
