html, body {
    padding: 0;
    margin: 0;
}

a {
    color: #000;
}

    a:hover {
        color: #f00;
    }
/*bootstap edit*/
.btn-primary {
    color: #fff;
    background-color: #728D94;
    border-color: #728D94;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #5f6769;
        border-color: #5f6769;
    }

    .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(114,140,146,.5);
    }

    .btn-primary.focus, .btn-primary:focus {
        box-shadow: 0 0 0 0.2rem rgba(114,140,146,.5);
    }

    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #5f6769;
        border-color: #5f6769;
    }

.form-group-sm {
    margin-bottom: 5px;
}

.form-control-tag {
    padding-top: 0px;
    padding-bottom: 0px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(114,140,146,.25);
}

.custom-file,
.custom-file-input,
.custom-file-label {
    height: calc(2.25rem - 5px);
    line-height: 1.1;
}

    .custom-file-label::after {
        height: calc(calc(2.25rem - 5px) - 1px * 2);
        line-height: 1.1;
    }

.table td, .table th {
    padding: .55rem;
}

.btn-inTable {
    margin-top: -12px;
    margin-bottom: -6px;
}
/*End bootstap edit*/

.a_td {
    cursor: pointer;
}

    .a_td:hover {
        color: #fff;
        background: #627A7F;
    }

.contain .menu .fa,
.bt_menu .fa {
    color: #fff;
    cursor: pointer;
}

.button_a {
    color: white;
}

.color-white:hover {
    color: white;
}

.content .right {
    position: relative;
    z-index: 0;
}

a:hover {
    text-decoration: none;
}

.small_menu .bt_menu {
    padding: 8px;
    display: inline-block;
    font-size: 25px;
    line-height: 22px;
}

.bt_menu {
    padding: 5px 10px;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    min-width: 250px;
    cursor: pointer;
}

    .bt_menu span {
        font-size: 1rem;
        color: #fff;
    }

.small_menu .bt_menu .fa {
    width: 25px;
    transform: rotate(180deg);
    position: relative;
    left: -4px;
    top: -4px;
    font-size: 20px;
}

.content .Title {
    font-size: 25px;
    margin: 0 0px 20px;
    border-bottom: 2px solid;
    position: relative;
    color: #2E5894;
    display: inline-block;
    text-transform: uppercase;
}

.layout-content {
    padding: 15px;
}

.container-lib {
    padding: 0 15px;
}

    .container-lib .form-group {
        padding: 10px;
    }

        .container-lib .form-group:nth-child(2n+1) {
            clear: both;
        }

.form-label {
    text-align: right;
    font-weight: 600;
}

/*---Menu left---*/
.menu .icon {
    width: 40px;
    height: 40px;
    position: relative;
    float: left;
    font-size: 20px;
    background: #2A5598;
}

    .menu .icon .fa {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        line-height: 40px;
    }

.menu .name {
    color: #fff;
    line-height: 40px;
    font-size: 18px;
    margin-left: 40px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.menu li:hover .name {
    background: #343a40;
}

.menu .action {
    background: #2E5894;
}

    .menu .action .icon {
        border-left: 3px solid #fff;
        background: #ffffff3b;
    }

    .menu .action .name:before {
        content: " ";
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid #fff;
        position: absolute;
        right: 0;
        top: 13px;
    }

    .menu .action:hover .name {
        background: #154D81;
    }

.contain .top {
    background: #718D94;
    min-height: 40px;
    position: relative;
    z-index: 3;
}

    .contain .top .banner {
        float: left;
    }

        .contain .top .banner h4, h5 {
            color: white;
            margin: 0px;
            padding-top: 5px;
            padding-left: 15px;
        }

.contain .left {
    position: relative;
    z-index: 1;
}

    .contain .left .bg {
        background: #728D94;
        height: 100%;
        width: 250px;
        display: inline-block;
        left: 0;
        position: fixed;
        top: 0;
    }

    .contain .left .bg_icon {
        /*background: #2A5598;*/
        height: 100%;
        width: 40px;
        display: inline-block;
        left: 0;
        position: fixed;
        top: 0;
    }

    .contain .left .menu {
        width: 250px;
        display: inline-block;
        float: left;
        position: relative;
        overflow-x: hidden;
    }

        .contain .left .menu .logo {
            text-align: center;
            background: #f8f9fa;
            height: 89px;
        }

        .contain .left .menu ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

#accordion {
    width: 250px;
}

    #accordion .card {
        border-radius: 0;
        border: 0;
    }

    #accordion .card-body {
        background: #627B80;
        padding: 0px;
    }

        #accordion .card-body ul li a {
            /*color: #A8BDBC;*/
            color: #fff;
            display: block;
            padding: 3px 10px 3px 50px;
            border-left: 3px solid transparent;
        }

            #accordion .card-body ul li a:hover {
                color: #fff;
                background: #768E93;
                border-left: 5px solid #CDE8D3;
            }

        #accordion .card-body ul li.active a {
            color: #fff;
            /*background: #9BB6A1;*/
            background: #859DA2;
            border-left: 5px solid #CDE8D3;
        }

            #accordion .card-body ul li.active a:hover {
                color: #262929;
            }

    #accordion .card-header {
        /*background: #9CB8A1;*/
        background: #496368;
        border-radius: 0;
        border-bottom: 0;
        padding: 0;
    }

        #accordion .card-header .collapsed {
            background: #728D94;
        }

        #accordion .card-header a {
            color: #fff;
            display: block;
            padding: 5px 10px;
        }

            #accordion .card-header a:before {
                content: "":;
            }

            #accordion .card-header a .fa {
            }


/*---End Menu left---*/

/*--- right---*/
.contain .right {
    background: #fff;
    min-height: 500px;
    width: calc(100% - 250px);
    float: right;
    padding: 0 10px;
    /*position: relative;*/
    z-index: 0;
}

    .contain .right .content {
        box-shadow: 0 0 10px #ccc;
        min-height: 500px;
        margin-bottom: 50px;
        padding-bottom: 10px;
        overflow: auto;
        font-size: 15px;
    }
/*---End right---*/
/*menu top*/
.menutop {
    float: right;
}

    .menutop li {
        padding: 7px;
    }

        .menutop li a {
            color: #fff;
        }

            .menutop li a:hover {
                color: #e3e3e3;
            }

        .menutop li .dropdown-menu a {
            color: #000;
        }

            .menutop li .dropdown-menu a:hover {
                color: #000;
            }

.box-search {
    margin-top: 1px;
}
/*end menu top*/
/*--- small_menu---*/
.small_menu .menu > ul > li {
    width: 40px;
}

.small_menu .left .menu .action ul {
    display: none !important;
}

.small_menu .left .menu .action:hover ul {
    display: block !important;
    position: absolute;
    padding-left: 0px;
}

.small_menu .left .menu .action:hover ul {
    left: 40px;
}

.small_menu .left .menu ul li ul li,
.small_menu .left .menu .action ul li {
    background: #2C3034;
}

    .small_menu .left .menu ul li ul li:hover {
        background: #000;
    }

.small_menu .left,
.small_menu .left .bg,
.small_menu .left .bg_icon,
.small_menu .left .menu {
    width: 40px;
}


.small_menu .menu .name {
    display: none;
}

.small_menu .right {
    width: calc(100% - 40px);
}

.small_menu .right,
.small_menu .bg,
.small_menu .bg_icon,
.small_menu .menu {
    /*transition: all 0.3s ease-out;*/
}

.small_menu .left .menu ul li ul {
    left: 40px;
}

    .small_menu .left .menu ul li ul:before {
        content: " ";
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid #2C3034 !important;
        position: absolute;
        left: -8px;
        top: 13px;
    }

.small_menu .menu {
    /*overflow-x: hidden;*/
}

.small_menu .action {
    background: none;
}

/*Hiệu ứng */
.bg,
.bg_icon,
.menu,
.right,
.left {
    /*transition: all 0.2s ease-out;*/
}

    .menu ul {
        min-width: 225px;
    }

.small_menu .menu > ul {
    min-width: 40px;
}

.right,
.bg,
.bg_icon,
.logo,
.menu {
    transition: all 0.3s ease-out;
}

.small_menu #accordion .card-header a {
    Padding: 0;
    position: relative;
}

    .small_menu #accordion .card-header a .fa {
        padding: 11px;
        /* font-size: 22px; */
    }

.small_menu #accordion .card-body {
    display: none;
}

.small_menu .left .menu .logo {
    /*display: none;*/
    height: 0;
}

.small_menu #accordion .card.active .card-header {
    position: relative;
}

    .small_menu #accordion .card.active .card-header:after {
        content: "";
        position: absolute;
        width: 40px;
        height: 38px;
        top: 0;
        left: 0;
        z-index: 10;
    }
/*---End small_menu---*/

/*---Sách---*/

.book_box_v2 {
    width: calc(50% - 20px);
    box-shadow: 0 0 1px 0px #000;
    margin: 10px;
    padding: 20px;
    float: left;
    border-radius: 5px;
    background: #9db8a08a;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

    .book_box_v2 .title {
        font-size: 23px;
        border-bottom: 1px solid #999;
        margin-bottom: 10px;
    }

    .book_box_v2:nth-child(2n + 1) {
        clear: both;
    }

    .book_box_v2:hover {
        background-color: #2098D1;
        color: white;
    }

        .book_box_v2:hover .book_image a {
            color: #fff;
        }

            .book_box_v2:hover .book_image a:hover {
                color: #000;
            }

        .book_box_v2:hover .title {
            border-bottom: 1px solid #fff;
        }

    .book_box_v2 .book_image {
        width: 40%;
        max-width: 110px;
        float: left;
        text-align: center;
        position: relative;
    }

        .book_box_v2 .book_image object {
            width: 100%;
            padding-right: 10px;
            height: 130px;
        }

        .book_box_v2 .book_image a {
            position: relative;
            top: 5px;
        }

        .book_box_v2 .book_image img {
            width: 100%;
            padding-right: 10px;
        }

        .book_box_v2 .book_image .book_number {
            background: #2E5894;
            color: #fff;
            display: inline-block;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 50%;
            float: left;
            position: absolute;
            top: -10px;
            left: -10px;
        }

    .book_box_v2 .book_cell_information {
        width: 60%;
        float: left;
    }

    .book_box_v2 .book_information {
        float: left;
        width: 100%;
        padding-bottom: 3px;
    }

        .book_box_v2 .book_information > div {
            /*width: 50%;*/
            float: left;
        }

        .book_box_v2 .book_information .book_title_information {
            font-weight: bold;
        }

        .book_box_v2 .book_information .book_content_information {
            padding-left: 5px;
        }

.book_box_v3 {
    width: calc(33.3% - 20px);
    box-shadow: 0 0 1px 0px #000;
    margin: 10px;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

    .book_box_v3:nth-child(3n + 1) {
        clear: both;
    }

    .book_box_v3 .container-box-window {
        border: 3px solid #728C92;
        background: #728C92;
    }

        .book_box_v3 .container-box-window .top {
            background: #728C92;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            height: auto;
            padding: 5px;
        }

            .book_box_v3 .container-box-window .top .title {
                font-size: 20px;
                color: #fff;
            }

        .book_box_v3 .container-box-window .content-box-window {
            background: #fff;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            position: relative;
        }

        .book_box_v3 .container-box-window .book_image {
            width: 30%;
            max-width: 110px;
            float: left;
            text-align: center;
            position: relative;
            height: 150px;
        }

            .book_box_v3 .container-box-window .book_image img {
                width: 100%;
                padding-right: 10px;
            }

        .book_box_v3 .container-box-window .book_cell_information {
            float: left;
        }

            .book_box_v3 .container-box-window .book_cell_information.width_left {
                width: calc(73% - 110px);
            }

            .book_box_v3 .container-box-window .book_cell_information.width_right {
                width: calc(27%);
            }

    .book_box_v3 .book_information > div {
        float: left;
    }

    .book_box_v3 .book_information .book_title_information {
        font-weight: bold;
    }

    .book_box_v3 .book_information .book_content_information {
        padding-left: 5px;
    }

.line-xl {
    clear: both;
    border-bottom: 1px solid;
    box-sizing: border-box;
}

.line-gl {
    clear: both;
    border-bottom: 1px solid;
    box-sizing: border-box;
    display: none;
}

.book_content {
    margin: -9px;
    position: relative;
}

.book_box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
    /*margin: 5px;*/
}

    .book_box .book_Title {
        padding-bottom: 10px;
    }

        .book_box .book_Title .book_control {
            float: left;
            padding-left: 16px;
        }

    .book_box:nth-child(2n+1) {
        clear: both;
    }

    .book_box .book_content .book_image {
        float: left;
        width: 13%;
    }

        .book_box .book_content .book_image img {
            width: 100%;
            max-width: 120px;
            display: block;
            max-height: 160px;
        }

        .book_box .book_content .book_image object {
            width: 100%;
            max-width: 120px;
            display: block;
            max-height: 160px;
        }

    .book_box .book_image .book_number {
        background: #2E5894;
        color: #fff;
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 50%;
        float: left;
        position: absolute;
        top: -10px;
        left: -10px;
    }

    .book_box .book_content .book_information {
        float: left;
        width: 87%;
        padding: 0 10px;
    }

        .book_box .book_content .book_information .book_cell_information {
            float: left;
            width: 33%;
        }


            .book_box .book_content .book_information .book_cell_information .book_title_information,
            .book_box .book_content .book_information .book_cell_information .book_content_information {
                float: left;
                width: 50%;
                padding: 5px;
            }

            .book_box .book_content .book_information .book_cell_information .book_title_information {
                font-weight: bold;
            }

        .book_box .book_content .book_information .tomtac {
            width: 100% !important;
        }

            .book_box .book_content .book_information .tomtac .book_title_information {
                width: 16%;
            }

            .book_box .book_content .book_information .tomtac .book_content_information {
                width: 84%;
                max-height: 100px;
                overflow: hidden;
            }

    .book_box .book_content .book_image .book_image_in {
        margin: 0 auto;
        width: 120px;
        position: relative;
        text-align: center;
    }

.table tr.table-info > th {
    /*background: #2F81B5 !important;*/
    color: #fff;
    padding: 5px 10px;
    font-weight: normal;
    /*background: linear-gradient(#1e3c72,#2a5298 );*/
    background: linear-gradient(#728C92,#728C92);
}

.table-striped a {
    color: #000;
}

    .table-striped a:hover {
        color: #f00;
    }

.direction {
    padding: 10px 0px;
    margin-left: -6px;
}

    .direction a {
        color: #000;
        padding: 5px 10px;
        margin: 5px;
        background: #eee;
        border-radius: 5px;
        display: inline-block;
        font-size: 15px;
    }

        .direction a:hover {
            color: #fff;
            background: #6c757d;
        }

.mb-3, .my-3 {
    margin-bottom: 0 !important;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right_icon {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left_icon {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up_icon {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down_icon {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/*Mượn sách*/
.hidden_lib {
    display: none;
}

    .hidden_lib div {
        transition: all linear 0.5s;
    }

.container-mt-sach {
}

    .container-mt-sach .box-left {
        width: 100%;
        min-height: 50px;
        float: left;
    }

        .container-mt-sach .box-left .form-mt-sach {
        }

        .container-mt-sach .box-left .danhsach-mt-sach-new {
        }

    .container-mt-sach .box-right {
        width: 100%;
        float: left;
        min-height: 50px;
    }

        .container-mt-sach .box-right .danhsach-mt-sach-old {
        }



.container-box-window {
    border: 3px solid #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

    .container-box-window .top {
        padding: 10px;
        background: #f1f1f1;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        z-index: 0;
    }

        .container-box-window .top .dot {
            height: 12px;
            width: 12px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
        }

    .container-box-window .content-box-window {
        padding: 10px;
        /*overflow-x: auto;*/
    }

/*End Mượn sách*/
@media screen and (max-width: 1500px) {
    .book_box_v3 {
        width: calc(50% - 20px);
    }

        .book_box_v3:nth-child(2n + 1) {
            clear: both;
        }

        .book_box_v3:nth-child(3n + 1) {
            clear: none;
        }
}

@media screen and (max-width: 1200px) {    
    .book_box_v3 {
        margin:3px;
    }

    .book_box_v3 .container-box-window{
        border:1px solid #728C92;
    }

    .book_box_v3 .container-box-window .top .title{
        font-size:15px;
    }

    .book_box .book_content .book_image {
        width: 20%;
    }

    .book_box .book_content .book_information {
        width: 80%;
    }
}

@media screen and (max-width: 1150px) {

    .line-gl,
    .box_temp {
        display: none;
    }

    .line-gl {
        display: block;
    }

    .box_temp_lg {
        display: none;
    }

    .content .Title {
    }

    .book_box .book_content .book_image {
        width: 100%;
    }

    .book_box .book_content .book_information {
        width: 100%;
    }

        .book_box .book_content .book_information .book_cell_information {
            width: 50%;
        }

        .book_box .book_content .book_information .tomtac .book_title_information {
            width: 25%;
        }

        .book_box .book_content .book_information .tomtac .book_content_information {
            width: 75%;
        }

    .container-lib .form-group {
        width: 100%;
    }

    

    .contain .left .menu {
        position: absolute;
    }

        .contain .left .menu .logo {
            height: 0;
        }
}
@media screen and (max-width: 992px) {
    .contain .right {
        width: calc(100% - 40px);
    }
}
@media screen and (max-width: 768px) {
    .book_box_v2 {
        width: calc(100% - 20px);
        max-width: 600px;
        margin: 10px auto;
        float: none;
    }

    .book_box_v3 {
        width: calc(100% - 20px);
        margin: 10px auto;
        float: none;
    }

        .book_box_v3 .container-box-window .book_cell_information.width_right {
            width: calc(25%);
        }
}



@media screen and (max-width: 600px) {
    .line-gl,
    .box_temp {
        display: none;
    }

    .book_box .book_content .book_information .book_cell_information {
        width: 100%;
        border-bottom: 1px solid;
    }

    .book_box .book_content .book_information .tomtac .book_title_information,
    .book_box .book_content .book_information .tomtac .book_content_information {
        width: 50%;
    }

    /*.book_box_v3 .container-box-window .book_image {
        width: 50%;
        max-width: 100%;
    }*/
    .book_box_v3 {
        margin: 2px;
    }

        .book_box_v3 .container-box-window {
            border: 1px solid #728C92;
        }

            .book_box_v3 .container-box-window .top .title {
                font-size: 15px;
                color: #fff;
            }

            .book_box_v3 .container-box-window .book_image img {
                height: auto;
            }

            .book_box_v3 .container-box-window .book_cell_information.width_left {
                width: calc(100% - 110px);
            }

            .book_box_v3 .container-box-window .book_cell_information.width_right {
                width: calc(100% - 110px);
            }
}

@media screen and (max-width: 500px) {
    .book_box_v2 .book_image,
    .book_box_v2 .book_cell_information {
        width: 100%;
        max-width: 100%;
    }

        .book_box_v2 .book_image object {
            height: auto;
        }
}

@media screen and (max-width: 450px) {
    .book_box_v3 .container-box-window .book_image {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

        .book_box_v3 .container-box-window .book_image img {
            width: 100%;
            padding-right: 0px;
        }

    .book_box_v3 .container-box-window .book_cell_information.width_left {
        width: 100%;
    }

    .book_box_v3 .container-box-window .book_cell_information.width_right {
        width: 100%;
    }
}

/*----------css Autocomplate--------*/
.ui-autocomplete {
    max-height: 600px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

* html .ui-autocomplete {
    height: 100px;
}
