
input[type="checkbox"] {
    opacity: 0;
    display: none;
}



.slide-two {
    position: relative;
}

    .slide-two label {
        cursor: pointer;
    }

        .slide-two label:before {
            border: 2px solid #0099FF;
            content: "";
            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }

        .slide-two label:after {
            position: absolute;
            border-left: 2px solid #0099FF;
            border-bottom: 2px solid #0099FF;
            content: "";
            width: 14px;
            height: 6px;
            transform: rotate(-45deg);
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            left: 4px;
            top: 6px;
            opacity: 0;
        }

#slide-two:checked ~ label:after {
    opacity: 1;
}

.slide-two1 {
    position: relative;
}

    .slide-two1 label {
        cursor: pointer;
    }

        .slide-two1 label:before {
            border: 2px solid #0099FF;
            content: "";
            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }

        .slide-two1 label:after {
            position: absolute;
            border-left: 2px solid #0099FF;
            border-bottom: 2px solid #0099FF;
            content: "";
            width: 14px;
            height: 6px;
            transform: rotate(-45deg);
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            left: 4px;
            top: 6px;
            opacity: 0;
        }

#slide-two1:checked ~ label:after {
    opacity: 1;
}


.margin-top {
    margin-left: 28px;
}

.back_groupCheck {
    /*background: #eaf0f5;*/
    margin-bottom: 26px;
}



.tablink {
    background-color: #4b5252;
    color: white;
    float: left;
    /* border: none; */
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    border: 1px solid;
}

    /* Change background color of buttons on hover */
    .tablink:hover {
        background-color: rgb(14, 134, 101);
    }

/* Set default styles for tab content */
.tabcontent {
    display: none;
    width: 85%;
    margin: 0 auto;
}

/* Style each tab content individually */

@media screen and (max-width: 1360px) {
    #responsiveChart {
        max-width: 85.333333%;
        flex: none;
    }
}
@media screen and (max-width: 1500px) {
    .sm_Search {
        max-width: 15%;
    }
}
/*@media screen and (max-width: 930px) {
    .sm_Search {
        margin: auto;
    }
}*/
/*@media (min-width: 768px) .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}*/
.margin_bottom {
    margin-bottom:0px;
}
.form_input{
    height:32px;
}
.btn_Search{
    margin-top:-10px;
}

.summarybox{
    float:left;
    padding-top:3px;
    border-radius: 7px;
    margin: 0px 0px 15px 15px;
    height: 55px;
    color: white;
    max-width: 172px;
    min-width: 104px;
}