

@using System;
@using System.Globalization;
@using BiTech.Library.DTO;
@model BiTech.Library.Models.BieuDoPhieuMuonViewModel
@{
    ViewBag.Title = "BieuDoPhieuMuon";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";


    var months = DateTimeFormatInfo
    .InvariantInfo
    .MonthNames
    .TakeWhile(monthName => monthName != String.Empty)
    .Select((monthName, index) => new SelectListItem
    {
        Value = (index + 1).ToString(CultureInfo.InvariantCulture),
        Text = string.Format("({0}) {1}", index + 1, monthName)
    });

    var years = Enumerable
    .Range(2017, 10)
    .Select(year => new SelectListItem
    {
        Value = year.ToString(CultureInfo.InvariantCulture),
        Text = year.ToString(CultureInfo.InvariantCulture)
    });
}


@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                //showWeek: true,
                dateFormat: "dd/mm/yy",
                monthNamesShort: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"],
                changeMonth: true,
                changeYear: true,
                yearRange: "-1:+8",
                onSelect: function (dateText, inst) {
                    var ngay = $("input[name='day']").val();
                    window.location.href = '/Statistic/BieuDoPhieuMuon?&month=' + 0 + '&year=' + 0;
                }
            }).attr("readonly", "readonly");
        });

        //function onMonthSelectedChagned() {
        //    window.location.href = '/Statistic/BieuDoPhieuMuon?&month=' + $("#month").val() + '&year=' + $("#year").val();
        //}

        //function onYearSelectedChagned() {
        //    window.location.href = '/Statistic/BieuDoPhieuMuon?&month=' + $("#month").val() + '&year=' + $("#year").val();
        //}
    </script>
}
<link href="~/bower_components/angular-chart.js/dist/angular-chart.min.css" rel="stylesheet" />
<script src="~/Scripts/angular.js"></script>
<script src="~/bower_components/Chart.js/Chart.js"></script>
<script src="~/bower_components/angular-chart.js/angular-chart.js"></script>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
<script src="~/app/app.js"></script>

@*<script src="~/Scripts/LibraryAngularJS.js"></script>*@

<div ng-app="MyApp">
    <div ng-controller="Statistic">
        <h4 class="text-info text-center">Thống kê theo tháng</h4>
        <div class="row">
            <div class="col-md-1 text-right"><h5>Tháng</h5></div>
            <div class="col-md-2">
                <select class="form-control" name="repeatSelect" id="repeatSelect" data-ng-model="selectedUser" ng-click="id()">
                    <option ng-repeat="option in data.items" value="{{option.code}}">{{option.name}}</option>
                </select>
            </div>
            <div class="col-md-1 text-right"><h5>Năm</h5></div>
            <div class="col-md-2">
                <select class="form-control" data-width="auto" >
                    @for (int i = 1; i <= 5; i++)
                    {
                        <option value="@i">tháng @i</option>
                    }
                </select>

            </div>

            <div class="col-md-2">
                <select class="form-control" data-width="auto" ng-model="selected" ng-change="switchLanguage()">
                    @for (int i = 2017; i <= DateTime.Now.Year; i++)
                     {
                        <option value="@i">Năm @i</option>
                    }
                </select>

            </div>

        </div>
        <section class="content">
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-7">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="nav-tabs-custom">
                        <!-- Tabs within a box -->

                        <div class="tab-content no-padding">
                            <!-- Morris chart - Sales -->
                            @*<canvas id="bar" class="chart chart-bar"
                                chart-data="chartdata" chart-labels="labels" chart-series="series"></canvas>*@
                            <canvas id="bar" class="chart chart-line colours"
                                    chart-data="chartdata" chart-labels="labels" chart-color="colours"
                                    chart-series="series"></canvas>
                        </div>
                        @*<div ng-if="loading">
                                <div class="col-xs-4"></div>
                                <div class="col-xs-4">
                                    <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary">Đang tải...</label>
                                </div>
                                <div class="col-xs-4"></div>
                            </div>*@
                    </div>

                </section>
            </div>
        </section>

    </div>

</div>