@model BiTech.Library.Models.TrangThaiSachViewModels
@{
    ViewBag.Title = "ThemTT";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<div class="Title">Thêm tình trạng sách</div>

<div class="form-group row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary btn-sm" onclick="goBack()">
            <i class="fa fa-arrow-circle-left" style="padding-right: 4px;font-size: 17px;"></i>Trở lại
        </button>
    </div>
</div>

<div class="container clearfix">

    <div class="">
        @using (Html.BeginForm("Them", "TrangThaiSach", FormMethod.Post, new { role = "form" }))
        {

            <div class="form-group row">
                <label class="col-form-label col-sm-2" for="tentinhtrang">Tên tình trạng:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.TenTT, new { @class = "form-control form-control-sm", @id = "tentinhtrang" })
                    @Html.ValidationMessageFor(m => m.TenTT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row tinhtrangsach">
                <label class="col-form-label col-sm-2" for="TrangThai">Loại tình trạng:</label>
                <div class="col-sm-10 mt-2">
                    <div class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(m => m.TrangThai, new { @Class = "custom-control-input", @checked= "checked" })
                        <label class="custom-control-label" for="TrangThai">Cho phép mượn sách</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input type="submit" class="btn btn-primary btn-sm" name="btnThemTrangThai" value="Tạo mới" />
                </div>

            </div>

        }
    </div>
</div>

@section scripts{

}

