@model BiTech.Library.Models.TrangThaiSachViewModels
@{
    ViewBag.Title = "XoaTT";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Xóa Trạng Thái</h2>

<div class="container">
    @using (Html.BeginForm("Xoa", "TrangThai", FormMethod.Post, new { role = "form" }))
    {
        <div class="form-group">
            <label class="class="col-form-label col-sm-2">Tên Trạng Thái</label>
            <div class="col-sm-6">
                <input class="form-control" value="@Model.TenTT" name="TenTT" />
            </div>
        </div>
        @*<table>
            <thead>
                <tr>
                    <th>Tên Trạng Thái</th>
                    <th>@Html.TextBoxFor(m => m.TenTT)</th>
                </tr>
            </thead>
        </table>*@
        <input type="submit" class="btn btn-default" name="btnXoaTheLoai" value="Xóa" />
    }
</div>