
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<header id="topbar">
    <h5>@Html.ActionLink("Create", "_CreateUser", "User")</h5>
</header>
<h5 class="text-success">@ViewBag.Success</h5>
<h5 class="text-danger">@ViewBag.UnSuccess</h5>
<div class="m10">
    <div class="row">
        @Html.Action("_PartialUser", "User")
    </div>
</div>