
@{
    ViewBag.Title = "Index";
}

<header id="topbar">
    <div class="topbar-right" data-tour-init="1" data-tour-key="createButton">
    </div>
</header>
<div class="m10">
    @Html.Partial("_Partial", "User")
</div>

