@model BiTech.Library.Models.LyDoXuatViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="Title">Thêm Lý Do</div>
<div class="container">
    @using (Html.BeginForm("Create", "LyDoXuat", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="tensach">Lý Do Xuất :</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.LyDo, new { @class = "form-control form-control-sm", @id = "tentacgia" })
            </div>
            @Html.ValidationMessageFor(m => m.LyDo)
        </div>
        <div class="clearfix"></div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2"></label>
            <div class="col-sm-10">
                <input type="submit" class="btn btn-primary btn-sm" name="btnThemTacGia" value="Thêm Mới" />
                <input type="button" onclick="goBack()" class="btn btn-default btn-sm" value="Trở lại" />
            </div>
        </div>

    }
</div>



