@model BiTech.Library.Models.LyDoXuatViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<link href="~/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" />
<div class="Title">Sửa Lý Do</div>
<div class="container">
    @using (Html.BeginForm("Edit", "LyDoXuat", FormMethod.Post, new { role = "form" }))
    {
        <div class="form-group row">
            <label class="col-form-label col-sm-3" for="tensach">Tên Tác Giả:</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.LyDo, new { @class = "form-control", @id = "LyDo" })
            </div>
        </div>
        
        <input type="hidden" value="@Model.Id" />
        <input type="submit" name="btnSuaTacGia" class="btn btn-primary" value="Cập nhật" />
        <input type="button" value="Xóa" class="btn btn-danger" onclick="XoaLyDo('@Model.Id')" />
       
    }
</div>
@section scripts{
    <script src="~/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function XoaLyDo(id) {
            swal({
                title: " Bạn có muốn xóa lý do ?",
                text: "Bạn sẽ không thể khôi phục lại lý do này sau khi xóa!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Có",
                cancelButtonText: "Không",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: 'POST',
                        url: "/LyDoXuat/Delete",
                        data: { "Id": id },
                        success: function (resultData) {
                            swal({
                                title: "Bạn đã xóa thành công!",
                                text: "Bạn sẽ không thể khôi phục lại lý do này sau khi xóa!",
                                type: "success",
                                showCancelButton: false,
                                confirmButtonText: "OK",
                                closeOnConfirm: false
                            },
                            function (isConfirm) {
                                window.location.href = '/LyDoXuat/Index';
                            });
                        }
                    });
                } else {
                    swal("Cancelled", "Your imaginary file is safe :)", "error");
                }
            });
        }
    </script>
}

