@model IEnumerable<BiTech.Library.Models.LyDoXuatViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var listlydo = ViewBag.ListLyDo;
}

<h2>Index</h2>
<div class="Title">Danh Sách Lý Do</div>
<div class="container clearfix">

    <a href="@Url.Action("Create")" class="btn btn-primary">Thêm Mới</a>
    <div class="book_content clearfix">
        <table class="table table-striped" border="1">
            <thead>
                <tr style="background:orange">
                    
                    <th>Lý Do Xuất</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in listlydo)
            {
                    <tr>
                      
                        <td>@item.LyDo</td>
                        <td><a href="@Url.Action("Edit","LyDoXuat", new { id = item.Id })">Sửa</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

