
@{
    var sltts = (List<BiTech.Library.DTO.SachCaBiet>)ViewBag.SlTTsach;
}

<div class="container-box-window clearfix">
    <div class="top">
        <span class="">Trạng thái từng cuốn sách</span>
    </div>
    <div class="content-box-window" id="AngCtrl" ng-controller="TrangThaiSachCtrlr" ng-init="GetAllData()">
        <table class="table table-hover table-bordered table-min mb-0" border="1">
            <thead>
                <tr class="table-info text-center">
                    <th width="30%">Mã cá biệt</th>
                    <th width="30%">Trạng thái sách</th>
                    <th width="10%">Thay đổi</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" ng-repeat="x in list | orderBy : '-MaCaBiet'" my-repeat-directive>
                    <td align="center" id="maCB">{{x.MaCaBiet}}</td>
                    <td>{{x.TrangThai}}</td>
                    <td align="center">
                        <i class="btn btn-danger col-sm-0 btn-edit" id="btnSua" ng-click="OpenPopup(x)" style="font-size:12; cursor:pointer;">Sửa</i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


