
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thêm sách</title>
</head>
<body>
    <h3 class="text-success">Thêm sách thành công</h3>
    <h5 class="text-danger">@ViewBag.UnSuccess</h5>
</body>
</html>
