@model List<BiTech.Library.DTO.TheLoaiSach>
<div class="container">
    <ul>
        <h3>Thể loại sách</h3>
        @foreach (var item in ViewBag.ListTheLoaiSach)
            {

            }
    </ul>
</div>