@model List<BiTech.Library.Areas.Models.WorkPlaceApiModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DemoApi</title>
</head>
<body>
    <div> 
        @Html.Raw(Model.Count)
    </div>
</body>
</html>
