@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Chào mừng thầy cô đến với phần mềm Quản lý Thư viện B.Lib</h2>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@

</div>

<div class="home-menu">
    <div class="home-menu-group">
        <div class="title">Mượn trả sách</div>
        <div class="btntag-box">
            <a href="#" class="btntag btntag-success">
                <img src="~/Content/Images/user5.jpg" />
                Mượn sách
            </a>
            <a href="#" class="btntag btntag-success">
                <img src="~/Content/Images/user5.jpg" />
                Trả sách
            </a>
        </div>
    </div>
    <div class="home-menu-group">
        <div class="title">Quản lý thành viên</div>
        <div class="btntag-box">
            <a href="#" class="btntag btntag-success">
                <img src="~/Content/Images/user5.jpg" />
                Học sinh
            </a>
            <a href="#" class="btntag btntag-success">
                <img src="~/Content/Images/user5.jpg" />
                Giáo viên
            </a>
        </div>
    </div>
    <div class="home-menu-group">
        <div class="title">Quản lý thông tin sách</div>
        <div class="btntag-box">
            <a href="#" class="btntag btntag-success">
                <img src="~/Content/Images/user5.jpg" />
                Sách
            </a>
            <a href="#" class="btntag btntag-success">
                <img src="~/Content/Images/user5.jpg" />
                Trạng thái sách
            </a>
        </div>
    </div>
    <div class="home-menu-group">
        <div class="title">Nhập xuất kho</div>
        <div class="btntag-box">
            <a href="#" class="btntag btntag-success">
                <img src="~/Content/Images/user5.jpg" />
                Nhập kho
            </a>
            <a href="#" class="btntag btntag-success">
                <img src="~/Content/Images/user5.jpg" />
                Xuất kho
            </a>
        </div>
    </div>
    <div class="home-menu-group">
        <div class="title">Thống kê</div>
        <div class="btntag-box">
            <a href="#" class="btntag btntag-success">
                <img src="~/Content/Images/user5.jpg" />
                Biểu đồ
            </a>
            <div class="btntag-group">
                <a href="#" class="btntag btntag-success">
                    TK Kho sách
                </a>
                <a href="#" class="btntag btntag-success">
                    TK sách mượn
                </a>
                <a href="#" class="btntag btntag-success">
                    TK chưa trả
                </a>
            </div>
        </div>
    </div>
    <div class="home-menu-group">
        <div class="title">Sao lưu và phục hồi</div>
        <div class="btntag-box">
            <a href="#" class="btntag btntag-success">
                <img src="~/Content/Images/user5.jpg" />
                Sao lưu
            </a>
            <a href="#" class="btntag btntag-success">
                <img src="~/Content/Images/user5.jpg" />
                Phục hồi
            </a>
        </div>
    </div>
</div>