@model BiTech.Library.Models.PhieuXuatSachModels
@{
    ViewBag.Title = "TaoPhieuXuatSach";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/LibraryAngularJS.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


<div class="Title">Tạo Phiếu Xuất Sách</div>
<div ng-app="LibraryApp" class="container clearfix">
    @using (Html.BeginForm("TaoPhieuXuatSach", "PhieuXuatSach", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        <div class="form-group col-md-12">
            <div class="col-md-10">

                <div ng-cloak ng-controller="ExportBookCtrlr" class="container" style="max-width:700px;">

                    @*@Html.TextAreaFor(m => m.GhiChu);*@


                    <div class="container">

                        <div class="form-group">
                            <textarea name="GhiChu" placeholder="Ghi chú" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <input id="idSach" name="idSach" placeholder="Nhập mã sách" ng-model="idBook" class="form-control">
                        </div>
                        <div class="form-group">
                            <input id="SoLuong" placeholder="Số lượng" ng-model="soLuong" class="form-control">
                        </div>
                        <div class="form-group">
                            @Html.DropDownList("TrangThai", new SelectList(ViewBag.listtt, "Id", "TenTT"), "--Chọn Tình Trạng--", new { ng_model = "idTrangThai", @class = "form-control" })

                        </div>

                        <div class="form-group">
                            @Html.DropDownList("LyDo", new SelectList(ViewBag.listld, "Id", "LyDo"), "--Chọn Lý Do--", new { ng_model = "idLyDo", @class = "form-control" })

                        </div>

                        <div class="form-group">
                            <input type="button" ng-click="addItema()" value="Thêm" class="btn btn-primary" />
                        </div>
                        <hr />
                        <div class="container">
                            <div class="Title" style="margin-left:110px">Danh sách sách xuất</div>

                            <div class="form-group">

                                <div ng-repeat="s in list" style="margin:20px" id="lstItem">
                                    {{s.ten}} - Số Lượng: {{s.soLuong}} - Tình Trạng: {{s.tenTinhTrang}} - Lý Do: {{s.lyDo}}
                                    <button ng-click="removeItem($index)" class="btn btn-sm btn-danger" style="cursor:pointer;float:right">×</button><hr />
                                </div>



                                <div ng-repeat="s in list">
                                    <input hidden="hidden" ng-cloak class="btn btn-default" name="listChiTietJsonString" value="{{s}}" />
                                </div>

                            </div>

                        </div>
                        <p class="w3-text-red">{{errortext}}</p>
                    </div>


                    @* gán dữ liệu cho listbox - truyền dữ liệu xuống DB *@
                    @*<div class="form-group">
                            @Html.ListBoxFor(m => m.MaSach, new SelectList(new List<String>(), "IdDauxSach"),
                                 new { @class = "form-control", @ng_model = "IdBook", @data_ng_disabled = "!list", @ng_options = "s.IdDauxSach as s.TenSach for s in list" })
                        </div>*@
                </div>
                <div ng-cloak ng-controller="ExportBookCtrlr" class="w3-card-2 w3-margin" style="max-width:600px;">

                    @*@Html.TextAreaFor(m => m.GhiChu);*@

                    @* gán dữ liệu cho listbox - truyền dữ liệu xuống DB *@
                    @*<div class="form-group">
                            @Html.ListBoxFor(m => m.MaSach, new SelectList(new List<String>(), "IdDauxSach"),
                                 new { @class = "form-control", @ng_model = "IdBook", @data_ng_disabled = "!list", @ng_options = "s.IdDauxSach as s.TenSach for s in list" })
                        </div>*@
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Tạo mới" />
                <input type="button" onclick="goBack()" class="btn btn-default" value="Trở lại" />
            </div>
        </div>
    }
</div>

@section scripts{
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $("#idSach").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/PhieuNhapSach/AutoComplete",
                        dataType: "json",
                        method: "post",
                        data: { a: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.MaKiemSoat, value: item.MaKiemSoat };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        })
    </script>
}



